/* SvgSpinner.module.css */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
0% {
  stroke-dasharray: 1, 150;
  stroke-dashoffset: 0;
}
50% {
  stroke-dasharray: 75, 75;
  stroke-dashoffset: -37.5px;
}
100% {
  stroke-dasharray: 150, 1;
  stroke-dashoffset: -150px;
}
}

.spin2 {
transform-origin: center;
animation: spin2 1.5s ease-in-out infinite, spin 2s linear infinite;
animation-direction: alternate;
}
